ipykernel
langgraph
langchain
langsmith

python-dotenv
langchain-community
langchain-text-splitters
pypdf
bs4
arxiv
pymupdf
wikipedia

chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
streamlit

langchain-groq
fastapi
uvicorn
langserve
tqdm

grandalf

pydantic

ddgs

langchain-tavily
ipywidgets

youtube-transcript-api
pydub
audioop-lts

langgraph-checkpoint-sqlite

tenacity

pydantic-settings

aiosqlite

psycopg2-binary 
asyncpg 
langgraph-checkpoint-postgres

upstash-redis

bcrypt 
pyjwt